<% include partials/header.ejs %>
    <div class="container mt-5">

        <div class="card-columns">
            
            <div class="card">
                <a href="/write/hbd"><img class="card-img" src="/images/hbd.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd2"><img class="card-img" src="/images/hbd2.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd3"><img class="card-img" src="/images/hbd3.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd4"><img class="card-img" src="/images/hbd4.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd5"><img class="card-img" src="/images/hbd5.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd6"><img class="card-img" src="/images/hbd6.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd7"><img class="card-img" src="/images/hbd7.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd8"><img class="card-img" src="/images/hbd8.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd9"><img class="card-img" src="/images/hbd9.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd10"><img class="card-img" src="/images/hbd10.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd11"><img class="card-img" src="/images/hbd11.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd12"><img class="card-img" src="/images/hbd12.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd13"><img class="card-img" src="/images/hbd13.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd14"><img class="card-img" src="/images/hbd14.jpg" alt="Card image"></a>
            </div>
            <div class="card">
                <a href="/write/hbd15"><img class="card-img" src="/images/hbd15.jpg" alt="Card image"></a>
            </div>


        </div>

    </div>
<% include partials/footer.ejs %>