<% include partials/header.ejs %>

<div class="container">   

    <div class="form-header">
        <% if (Object.keys(errors).length === 0) { %>
          <h2Select a card:</h2>
        <% } else { %>
          <h2 class="errors-heading">Oops, please correct the following:</h2>
          <ul class="errors-list">
            <% Object.values(errors).forEach(error => { %>
              <li><%= error.msg %></li>
            <% }) %>
          </ul>
        <% } %>
      </div>

    <div class="card mb-3">
        <a href="/write/Diwali2018"><img class="card-img-top" src="images/Diwali2018.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      <div class="card">
          <a href="/write/hbd"><<img class="card-img-bottom" src="images/hbd.jpg" alt="Card image cap"></a>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
</div>


<% include partials/footer.ejs %>